<style type="text/css">

            @import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik:900');

            html, body, h1, p, ul, li {
                padding: 0;
                border: 0;
                margin: 0;
                font-size: 100%;
                font: inherit;

                /* Fix for font size bump on some devices */
                -webkit-text-size-adjust: 100%;
            }

            html{
                height:100%;
                min-height:100%;
                color: #000000;
                font-size: 0.8em;
            }

            /* Small devices (tablets, 768px and up) */
            @media (min-width: 768px) {
                html{
                    font-size: 0.9em;
                }
            }

            /* Medium devices (desktops, 992px and up) */
            @media (min-width: 992px) {
                html{
                    font-size: 1.0em;
                }
            }

            /* Large devices (large desktops, 1200px and up) */
            @media (min-width: 1200px) {
                html{
                    font-size: 1.1em;
                }
            }
            /* HD 1080 (1080p displays, 1920px and up) */
            @media (min-width: 1920px) {
                html{
                    font-size: 1.5em;
                }
            }

            /* WQHD (2K displays, 2560px and up) */
            @media (min-width: 2560px) {
                html{
                    font-size: 2em;
                }
            }

            /* UHD-1 devices (4K displays, 3840px and up) */
            @media (min-width: 3840px) {
                html{
                    font-size: 3em;
                }
            }

            body {
                min-height:100%;
                /* Set a background pattern using SVG*/
                background-color: #FF6500;
            }

            .content-block {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }

            .name-logo-block {
                margin: 0 auto 2% auto;
            }

            .name-logo-block h1 {
                font-size: 8em;
                font-family: 'Rubik', sans-serif;
                text-align: center;
                text-transform: uppercase;
                line-height: 1;
            }

            .bio-block {
                margin: 0 auto 3% auto;
            }

            .bio-block p {
                font-size: 1.2em;
                margin: 0;
                text-align: center;
                font-family: 'Roboto Mono', monospace;
                line-height: 1.5;
            }

            .social-block {
                margin: 0 auto 0 auto;
                text-align: center;
            }

            .social-block ul {
                display: inline-block;
                padding: 0.8em;
                margin: 0;
            }

            .social-block li {
                float: left;
                list-style-type: none;
                padding: 0 10px 0 10px;
                font-family: 'Roboto Slab', serif;
                font-weight: bold;
            }

            .social-block img{
                width: 2em;
                height: 2em;
            }

        </style>