body {
    margin:0;
}

.page {
    display: grid;
    grid-template-columns: 35vw auto;
}
.page__info {
    grid-column-start: 1;
    position: fixed;
    width: 35vw;
    height: 100vh;
    background: lightgoldenrodyellow;
}
.page__main {
    grid-column-start: 2;
    background: whitesmoke;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .page {
        display: flex;
        flex-direction: column;
    }
    .page__info {
        position: relative;
        width: auto;
        height: auto;
        background: lightgoldenrodyellow;
    }
    .page__main {
        width: auto;
        background: whitesmoke;
    }    
}