/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat:700');

/* --- Layouts --- */
@import url('layouts/page.css');

/* --- Fonts --- */
body {
    margin:0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Hind', sans-serif;
}

a { color: inherit; }

.info {
    width: 320px;
    text-align: right;
    padding: 10px 20px;
}

.info__name {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 72px;
    color: #E54B4B;
    margin: 0;
    line-height: 1.0;
}

.info__description {
    font-size: 32px;
    margin: 0;
}

.contact {
    width: 160px;
    padding: 0 20px;
}

.contact__services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #E54B4B;
}

.contact__services__service {
    font-size: 32px;
}

@media only screen and (max-width: 1024px) {
    .info {
        width: 232px;
    }

    .info__name {
        font-size: 56px;
    }

    .info__description {
        font-size: 24px;
    }

    .contact {
        width: 112px;
    }

    .contact__services__service {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .info {
        text-align: left;
        width: 224px;
        padding: 5px 10px;
    }

    .info__name {
        font-size: 32px;
    }

    .info__description {
        font-size: 14px;
    }
    
    .contact {
        width: 160px;
        margin: 0;
        padding: 5px 10px;
    }

    .contact__services {
        justify-content: space-around;
    }

    .contact__services__service {
        font-size: 24px;
    }
}


@media only screen and (max-width: 420px) {
    .page__info {
        height: 104px;
    }

    .info {
        width: 136px;
    }

    .page__main {
        margin-top: 104px;
    }
}