/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat:700');

/* --- Layouts --- */
@import url('layouts/page.css');
@import url('layouts/info.css');
@import url('layouts/contact.css');
@import url('layouts/cover.css');
@import url('layouts/about.css');
@import url('layouts/projects.css');
@import url('layouts/skills.css');

/* --- Components --- */
@import url('components/button.css');
@import url('components/card.css');
@import url('components/skillgroup.css');

/* --- Fonts --- */
body {
  margin:0;
  font-family: 'Hind', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

a {
  color: #E54B4B;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #FFA987;
}

/* --- Global Behaviour --- */
html {
  scroll-behavior: smooth;
}

  :target::before {
    content: "";
    display: block;
    height: 16px; /* fixed header height*/
    margin: -16px 0 0; /* negative fixed header height */
  }

@media only screen and (max-width: 768px) {
  :target::before {
    content: "";
    display: block;
    height: 88px; /* fixed header height*/
    margin: -88px 0 0; /* negative fixed header height */
  }
}

@media only screen and (max-width: 420px) {
  :target::before {
    content: "";
    display: block;
    height: 120px; /* fixed header height*/
    margin: -120px 0 0; /* negative fixed header height */
  }
}