/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat:700');

/* --- Layouts --- */
@import url('layouts/page.css');
@import url('layouts/info.css');
@import url('layouts/contact.css');
@import url('layouts/cover.css');
@import url('layouts/about.css');
@import url('layouts/projects.css');

/* --- Components --- */
@import url('components/card.css');
@import url('components/skillgroup.css');

/* --- Fonts --- */
body {
  margin:0;
  font-family: 'Hind', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

a {
  color: #E54B4B;
  text-decoration: none;
}

a:hover {
  color: #FFA987;
}