.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card__technologies {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.card__description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card__description__title {
  font-size: 24px;
}
.card__description__content {
  font-size: 16px;
  font-weight: lighter;
}

.card__links {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card__links__link {
  margin: 0;
  font-size: 16px;
}